* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #e4e0e1;
}
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  font-size: 30px;
  height: 100px;
  /* background-image: url(../media/h4.jpg);
   */
  background-image: url(../media/banner1.jpg);
  background-size: contain;
  background-position: center;
  box-shadow: 1px 1px 5px rgb(61, 33, 0);
  /* position: sticky; */
  border-bottom: 2px solid rgb(61, 33, 0);
  top: 0;

  > img {
    width: 60px;
    height: 60px;
    border: 1.8px solid rgb(61, 33, 0);
    animation: show;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    border-radius: 50%;
  }
  /* > .i {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #493628;
    > .fa-search {
      border-radius: 50%;
      background-image: url(../media/h4.jpg);
      border: 2px solid #493628;
      color: #493628;
      width: 40px;
      font-size: 20px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } */
}
@keyframes show {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  z-index: 998;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcoming {
  width: 100%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  padding: 10px 10px;
  z-index: 995;
  background-color: #e4e0e1;
  > #p > h5 {
    margin: 10px auto 20px;
    font-size: 20px;
    font-family: artin;
    text-align: justify;
    color: #492828;
  }
  > p#first {
    margin: 10px auto;
    font-size: 17px;
    font-family: artin;

    text-align: justify;
    color: #492828;
  }
  > #p {
    margin-top: 10px;
    font-size: 17px;
    font-family: artin;

    text-align: justify;
    color: #492828;
    > span {
      margin-top: 10px;
      font-size: 17px;
      font-family: artin;
      font-weight: bold;
      text-align: justify;
      color: #492828;
    }
  }
}
.welcoming > h1 {
  text-align: center;
  color: #493628;
  font-family: artin;

  margin: 20px auto 0;
  width: 50%;
}
.welcoming > hr {
  width: 40%;
  background-color: #493628;
  color: #493628;
  height: 2px;
  border: unset;
  margin: 0 auto;
  animation: show;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 600ms;
  
}
    .mySwiper5 .swiper {
  z-index: 998;
      width: 100%;
      height: 100%;
    }

     .mySwiper5 .swiper-slide {
      text-align: center;
      gap: 10px;
      font-size: 18px;
      background: transparent;
      display: flex;
      color: black;
      justify-content: center;
  z-index: 998;
      align-items: center;
    }
.boxx {
  width: 100%;
  background-image: url(../media/banner5.jpg);
  background-repeat: no-repeat;
  
  overflow: hidden;
  z-index: 998;
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 5px auto 0;
  box-shadow: 1px 1px 10px black;
}
.box {
  background-image: url(../media/bannerrr.jpg);
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 998;
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 5px auto;
  box-shadow: 1px 1px 10px black;
}
.animated-text {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}

.animated-text.visible {
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.animated-textl {
  transform: translateY(500px);
  transition: all 300ms linear;
}

.animated-textl.visible {
  transform: translateX(0);
}

@font-face {
  font-family: noora;
  src: url(../font/Noora\Regular\ \(@Ghaleb_wp\).ttf);
}
@font-face {
  font-family: artin;
  src: url(../font/Artin\ Sharp-Regular.woff2);
}
.contact {
  width: 100%;
  text-align: center;
  font-family: artin;

  margin: 5px auto 0;
  display: flex;
  justify-content: center;
  background-color: #e4e0e1;
  color: #493628;
  flex-direction: column;
  > .addresss {
    width: 80%;
    border-radius: 8px;
    margin: 20px auto 10px;
    font-size: 17px;
    padding: 8px;
    font-family: artin;
  }
  > hr {
    width: 40%;
    margin: 0 auto;
    animation: show;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    background-color: #493628;
    color: #493628;
    border-radius: 8px;
    height: 2px;
    border: unset;
  }
}
.items {
  width: 100%;
  padding: 20px 15px;
  background-color: #e4e0e1;
  > h2 {
    text-align: center;
    font-family: artin;

    margin: 20px auto 0;
    width: 40%;
    color: #493628;
  }
  > hr {
    width: 40%;
    background-color: #fff;
    margin: 0 auto;
    animation: show;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    background-color: #493628;
    color: #493628;
    height: 2px;
    border: unset;
  }

  > a > .box1 {
    margin: 20px auto;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 1px solid #492828;
    display: flex;
    flex-direction: column;
    background-color: #c5ccc9;
    > img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: calc(0);
    }
  }
}
@media (max-width: 370px) {
  h1 {
    font-size: 30px;
    color: #493628;
  }
  .items > a > .box1 {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #492828;
    display: flex;
    flex-direction: column;
    > .img {
      width: 100%;
      height: 100%;
    }
  }
}
iframe {
  width: 60%;
  height: 250px;
}
.center {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #493628;
  align-items: center;
  padding: 0 20px;
  > .ul {
    width: 40%;
    color: #493628;
  }
  > .ul > ul {
    list-style: none;
    height: 80px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    width: 100%;
    gap: 20px;
    > li {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    > li:nth-child(1) {
      color: green;
    }
    > li:nth-child(2) {
      background: linear-gradient(to right, blue, red);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
    }
  }
}
footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  > h2 {
    font-family: sans-serif;
    font-size: 10px;
    color: #ae022d;
    font-weight: 500;
  }
  > h4 {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #ae022d;
  }
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 998;
  font-size: 50px;
  color: green;
  background-color: white;
}
.circle2 {
  color: purple;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 85px;
  left: 26px;
  z-index: 998;
  font-size: 50px;
  /* gradient {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    ); */
  background: linear-gradient(#9058b5, #ff3737, #ffbf65);
}
#submenu{
  width: 90%;
  margin: 0 auto;
  height: 200px;
  background-color: #e4e0e1;
  opacity: 0.9;
  position: absolute;
  display: none;
  top: -20px;
  border-radius: 8px;
  left: 50%;
  z-index: 998;
  transform: translate(-50%, 50%);
  transition: all 300ms linear;
  border-bottom: 3px solid #493628;
  > ul {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: end;
    flex-direction: column;
    list-style: none;
    > a {
      font-size: 18px;
      text-decoration: none;
    }
    > a > li {
      font-size: 18px;
      font-family: artin;
      color: #493628;
      font-weight: 500;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.team {
  width: 100%;
  padding: 10px 20px;
  font-family: artin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  color: #493628;
  > hr {
    width: 30%;
    margin: 0 auto;
    animation: show;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    background-color: #493628;
    color: #493628;
    height: 2px;
    border: unset;
  }
}
.swiper2 {
  margin-top: 20px;
  width: 200px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  z-index: 998;
}
.mangaHeader {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: #cbafbd;
  border-bottom: #493628 2px solid;
  box-shadow: #493628 4px 4px 4px;
  z-index: 999;
  
  > .part1 {
    width: 150px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > img {
      width: 60px;
      height: auto;
    }
    > .part1-1 {
      font-family: artin;
      font-size: 20px;
    }
  }
  > .part2 {
    width: 100px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: artin;
    > a > img {
      width: 60px;
      height: auto;
    }
  }
}
.mangaPhoto {
  background-image: url(../media/pov.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  >.japan{
    font-family: artin;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 600;
  }
}
.mySwiper5  .mangaProducts {
  width: 100%;
  height: auto;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  z-index: 997;

}
.mangaProducts .part2-1{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 8px;
    > img {
      width: 100%;
      height: 100%;
      transform: scale(1);
    }
  }
  .mangaProducts .part2-2{
    width: 230px;
    height: 100px;
    border-radius: 8px;
    border: 2px solid black;
    > p:first-child {
      font-family: artin;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
  }
        > p:last-child {
      font-family: artin;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 5px;
    }

  }
.sfooter {
  width: 100%;
  height: 60px;
  display: none;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  border-top: 2px solid black;
  position: sticky;
  background-color: #cbafbd;
  bottom: 0;
  z-index: 999;
  > .op1 {
    width: 50px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    > a {
      text-decoration: none;
      color: black;
      font-family: artin;
      font-size: 25px;
    }
  }
}
#menu {
  font-size: 40px;
  background-color: #cbafbd71;
  border: 1px solid #CBAFBD;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  top: 10px;
  text-align: center;
  padding-top: 10px;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cbafbd;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #cbafbd;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.mySwiper5 {
  margin-top: 30px;
}
.swiper-button-next {
  color: #cbafbd !important;
}
.swiper-button-prev {
  color: #cbafbd !important;
}
.mangaProducts2 {
  width: 100%;
  height: auto;
  padding: 10px 25px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 10px;
  > .part2-1 {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 8px;
    > img {
      width: 100%;
      height: 100%;
      transform: scale(1.5);
    }
  }
  > .part2-2 {
    width: 230px;
    height: 100px;
    border-radius: 8px;
    border: 2px solid black; 
    overflow: hidden;
    > p:first-child {
      font-family: artin;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
    }
    > p:last-child {
      font-family: artin;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
}
.suggest{
    width: 95%;
    height: 100px;
    background-color: #CBAFBD;
    padding: 10px 20px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 998;
    text-align: center;
    justify-content: center;
    >p{
      font-family: artin;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px auto;
      font-size: 24px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: block;
    backdrop-filter: blur(10px); 
  }
.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    backdrop-filter: blur(10px); 
  }